<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Etsy_logo.svg/2560px-Etsy_logo.svg.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!--Search bar-->
    <div class="search-bar">
      <input type="text" name="" id="" placeholder="   Search for anything">
      <button type="submit">🔍</button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Shop Manager", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://avatars.githubusercontent.com/u/111508010?v=4", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="categories-wrapper">
  <div class="container-fluid">
    <div class="categories primary-categories">

      <div class="category">
        <button class="main-dropdown" href="#">Jewellery & Accessories</button>
        <div class="menu">
          <div>
            <%= render 'shared/navigation/left-dropdown' %>
          </div>
          <div class="right">
            <%= render 'shared/navigation/right-dropdown' %>
          </div>
        </div>
      </div>

      <div class="category">
        <a href="#" class="main-dropdown">Clothing & Shoes</a>
        <div class="menu">
        </div>
      </div>
      <a href="#">Home & Living</a>
      <a href="#">Wedding & Party</a>
      <a href="#">Toys & Entertainment</a>
      <a href="#">Art & Collectibles</a>
      <a href="#">Craft Supplies & Tools</a>
      <a href="#">Vintage</a>
    </div>
  </div>
</div>
