<div class="container">
  <div class="row">
    <h1 class="title"><%= @order.line_items.count %> items in your basket</h1>
    <div class="protection mb-3">
      <b>Buy confidently</b> with Etsy's Purchase Protection programme for buyers, get a full refund in the rare case your item doesn't arrive, arrives damaged, or isn't as described. See eligibility
    </div>
  </div>
  <div class="content d-flex">
    <div class="col-lg-7 col-md-7">
      <% @order.line_items.each do |item| %>
      <div class="basket-card">
        <div class="row">
          <div class="col bold-font">
            <%= item.product.user.username %>
          </div>
          <div class="col text-end bold-font">
            Contact shop
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-2 mb-2">
            <img class="basket-image" src="<%= cl_image_path item.product.photo.key, width: 150, height: 150, crop: :thumb %>" alt="">
          </div>
          <div class="col px-0">
            <div class="row">
              <p><%= item.product.name %></p>
              <p><%= item.quantity %></p>
            </div>
            <div class="row">
              <div class="col">Save for later</div>
              <div class="col">Remove</div>
            </div>
          </div>
          <div class="col text-end">
            <p>SGD <%= item.product.price %></p>
            <p class="red-font">Only <%= item.product.quantity %> available in stocks!</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            + Add a note to <%= item.product.user.username %>
          </div>
          <div class="col text-end">
            <p>Estimated delivery: 30 Feb 2024 from Iceland</p>
          </div>
        </div>
        <div class="row">
          <span>
            <input type="checkbox" id="gift">
            <label for="gift"> This order is a gift</label><br>
          </span>
          <p>Prices will not be shown on packing slip</p>
          <br>
          <br>
          <p>Apply shop coupon codes</p>
        </div>
      </div>
      <% end %>
    </div>
    <% if @order.line_items.empty? == false %>
      <div class="payment mx-3 col-lg-5 col-md-5">
        <div class="">
          <p>How you'll pay</p>
          <div class="row d-flex justify-content-between">
            <div class="col">
              Item(s) total
            </div>
            <div class="col text-end">
              SGD <%= 115 %>
            </div>
          </div>
          <div class="row d-flex justify-content-between">
            <div class="col">
              Shop discount
            </div>
            <div class="col text-end">
              -SGD 15
            </div>
          </div>
          <hr>
          <div class="row  d-flex justify-content-between">
            <div class="col">
              Subtotal
            </div>
            <div class="col text-end">
              SGD <%= 100 %>
            </div>
          </div>
          <div class="row  d-flex justify-content-between">
            <div class="col">
              Delivery
            </div>
            <div class="col text-end">
              SGD 13
            </div>
          </div>
          <hr>
          <div class="row  d-flex justify-content-between">
            <div class="col">
              Total (<%= @order.line_items.count %> items)
            </div>
            <div class="col text-end mb-2">
              SGD <%= 113 %>
            </div>
          </div>
          <div class="col text-end">
            <%= simple_form_for(@order, url: orders_deal_path )do |f| %>
              <%= f.submit 'Proceed to checkout', class: "btn btn-dark rounded-5" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>

</div>
