<div class="container">
  <h3 class="px-3">Popular gifts right now</h3>
  <div class="d-flex">
    <% products.each do |product| %>
      <div class="bg-white mx-1 text-center card product-card">
        <a href="<%= product_path(product) %>">
          <img class="" src="<%= cl_image_path(product.photo.key, :width => 400, :height => 400, :crop => "fill") if product.photo.key %>" alt="<%= product.name %>" class="product-image">
        </a>
        <span><%= product.description %></span>
        <div class="mt-auto mb-3">
          <div class="rating-stars">
            <% average_rating = product.average_rating.to_i %>
            <% 5.times do |i| %>
              <% if i < average_rating %>
                <span class="star filled"></span>
              <% else %>
                <span class="star"></span>
              <% end %>
            <% end %>
          </div>
          <span>SGD <%= product.price %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
