<!-- Below Navbar -->
<div class="page">

  <%= render "popular_gifts", products: @products %>

  <!-- Circle section -->
  <div class="container">
    <div class="d-flex justify-content-evenly mt-5 mb-5">
      <% @circles.each do |category| %>
        <div class="d-flex flex-column align-items-center">
          <div class="bg-white mx-1 text-center circle">
            <img class="img-fluid" src="<%= category[:img_url] %>" alt="<%= category[:name] %>">
          </div>
          <div class="mt-2 fw-bold text-wrap" style="width: 6rem;"><%= category[:name] %></div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Category section -->
  <div class="container">
    <h3>Shop our popular gift categories</h3>
    <div class="d-flex">
      <% @popular_categories.each do |category| %>
        <div class="bg-white mx-1 text-center popular-gift-categories" style="width: 20%">
          <img class="img-fluid" src="<%= category[:img_url] %>" alt="<%= category[:name] %>">
          <div class="mt-2 fw-bold"><%= category[:name] %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- About section -->
  <div>
    <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 100" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(253, 235, 210, 1)" offset="0%"></stop><stop stop-color="rgba(253, 235, 210, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,70L10,71.7C20,73,40,77,60,75C80,73,100,67,120,65C140,63,160,67,180,68.3C200,70,220,70,240,68.3C260,67,280,63,300,58.3C320,53,340,47,360,36.7C380,27,400,13,420,18.3C440,23,460,47,480,55C500,63,520,57,540,53.3C560,50,580,50,600,50C620,50,640,50,660,48.3C680,47,700,43,720,43.3C740,43,760,47,780,41.7C800,37,820,23,840,28.3C860,33,880,57,900,66.7C920,77,940,73,960,63.3C980,53,1000,37,1020,36.7C1040,37,1060,53,1080,55C1100,57,1120,43,1140,43.3C1160,43,1180,57,1200,51.7C1220,47,1240,23,1260,25C1280,27,1300,53,1320,58.3C1340,63,1360,47,1380,48.3C1400,50,1420,70,1430,80L1440,90L1440,100L1430,100C1420,100,1400,100,1380,100C1360,100,1340,100,1320,100C1300,100,1280,100,1260,100C1240,100,1220,100,1200,100C1180,100,1160,100,1140,100C1120,100,1100,100,1080,100C1060,100,1040,100,1020,100C1000,100,980,100,960,100C940,100,920,100,900,100C880,100,860,100,840,100C820,100,800,100,780,100C760,100,740,100,720,100C700,100,680,100,660,100C640,100,620,100,600,100C580,100,560,100,540,100C520,100,500,100,480,100C460,100,440,100,420,100C400,100,380,100,360,100C340,100,320,100,300,100C280,100,260,100,240,100C220,100,200,100,180,100C160,100,140,100,120,100C100,100,80,100,60,100C40,100,20,100,10,100L0,100Z"></path></svg>
  </div>

  <div class="desc-sec">
    <div class="text-center">
      <h2>What is Etsy?</h2>
      <p>Read our wonderfully weird story</p>
    </div>

    <div class="d-flex justify-content-around">
      <div class="w-25">
        <p>A community doing good</p>
        <p>Etsy is a global online marketplace, where people come together to make,
        sell, buy and collect unique items. We’re also a community pushing for positive
        change for small businesses, people, and the planet. Here are some of the ways
        we’re making a positive impact, together.</p>
      </div>
      <div class="w-25">
        <p>Support independent creators</p>
        <p>There’s no Etsy warehouse – just millions of people selling the things they
        love. We make the whole process easy, helping you connect directly with makers to
        find something extraordinary.</p>
      </div>
      <div class="w-25">
        <p>Peace of mind</p>
        <p>Your privacy is the highest priority of our dedicated team. And if you ever need
        assistance, we are always ready to step in for support.</p>
      </div>
    </div>
  </div>


<!-- Description section -->

<div class="text-center py-5">
  <p>Have a question? Well, we’ve got some answers.</p>
  <button class="help-button">Go to help center</button>
</div>

<div class="py-4">
  <form action="#" class="text-center">
    <label for="subscribe">Yes! Send me exclusive offers, unique gift ideas, and personalised tips for shopping and selling on Etsy.</label>
    <br>
    <div class="py-5">
      <input type="text">
      <button >Subscribe</button>
    </div>
  </form>
  <div class="d-flex justify-content-center">
    <a href=""><i class="fa-sharp fa-solid fa-globe"></i></a>
    <p>Etsy is powered by 100% renewable electricity.</p>
  </div>
</div>

<!-- All footer section -->

<div class="last-foot">
  <footer>
    <div class="footer-info py-4">
      <div class="footer-sub">
        <p>Shop</p>
        <a href="#">Gift cards</a>
        <a href="#">Etsy Registry</a>
        <a href="#">Sitemap</a>
        <a href="#">Etsy blog</a>
        <a href="#">Etsy United Kingdom</a>
        <a href="#">Etsy Germany</a>
        <a href="#">Etsy Canada</a>
      </div>

      <div class="footer-sub">
        <p>Sell on Etsy</p>
        <a href="#">Teams</a>
        <a href="#">Forums</a>
        <a href="#">Affiliates & Creators</a>
      </div>

      <div class="footer-sub">
        <p>Etsy, Inc.</p>
        <a href="#">Policies</a>
        <a href="#">Investors</a>
        <a href="#">Careers</a>
        <a href="#">Press</a>
        <a href="#">Impact</a>
        <a href="#">Legal imprint</a>
      </div>

      <div class="footer-sub">
        <div class="footer-sub">
          <p>Help</p>
          <a href="#">Help center</a>
          <a href="#">Privacy settings</a>
        </div>
        <a class="d-inline-flex" href="#">
          <i class="fa-solid fa-e"></i>
          <p>Download the Etsy App</p>
        </a>
        <div>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-pinterest"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </footer>
</div>

<div class="d-flex justify-content-between py-3 footer">
  <div>
    <a href="#"><i class="fa-solid fa-earth-americas"></i>Singapore | English (UK) | $ (SGD)</a>
  </div>
  <div class="d-inline-flex">
    <p class="px-2">2023 Etsy,inc.</p>
    <a class="px-2" href="#">Terms of Use</a>
    <a class="px-2" href="#">Privacy</a>
    <a class="px-2" href="#">Interest-based ads</a>
    <a class="px-2" href="#">Local Shops</a>
    <a class="px-2" href="#">Regions</a>
  </div>
</div>
