<div class="pink-banner">
  <div class="container">
    <h1><%= link_to "🔙", root_path, class: "text-decoration-none" %><span class="title"><%= @category.name %></span></h1>
    <p>(<%= @products.count %> results, with Ads)</p>
  </div>
</div>
<div class="container p-0">

  <h1 class="title">Find something you love</h1>
  <div class="row d-flex justify-content-between align-items-center mb-3">
    <div class="col-2">
      <button class="border border-dark rounded-pill bg-white py-1 px-2"><i class="fa-light fa-filter-list"></i>All Filters</button>
    </div>
    <div class="col-3">
      <button class="border border-dark rounded-pill bg-white py-1 px-2">Sort by: Relevancy</button>
    </div>
  </div>


  <div class="category-cards">
    <% @products.each do |product| %>
      <div class="category-card">
        <img src="<%= cl_image_path product.photo.key, width: 325, height: 260, crop: :thumb%>" alt="">
        <div class="row m-0">
          <%= product.name %>
        </div>
        <div class="row m-0">
        </div>
        <div class="row m-0">
          SGD <%= product.price %>
        </div>
      </div>
    <% end %>
  </div>
</div>
