<div class="container mt-3">
  <% if @products.empty? %>
    <div class="row d-flex align-items-center justify-content-between">
        <div class="col">
          <h1 class="title"> <%= link_to "List a product to sell", new_product_path %> </h1>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <%= link_to "Orders received", orders_path, class: "btn btn-dark rounded-5" %>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <%= link_to "Add new product", new_product_path, class: "btn btn-dark rounded-5" %>
        </div>
    </div>
  <% else %>
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col">
        <h1 class="title"> Products listed for sale </h1>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <%= link_to "Orders received", orders_path, class: "btn btn-dark rounded-5" %>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <%= link_to "Add new product", new_product_path, class: "btn btn-dark rounded-5" %>
      </div>
    </div>
    <hr>
    <ul>
      <li class="listed-product">
        <% @products.each do |product| %>
          <a class="text-decoration-none" href="<%= product_path(product) %>">
            <div class="listing-card">
              <div class="col-3">
                <img src="<%= cl_image_path product.photo.key, width: 200, height: 200, crop: :fill%>" class="listing-image" alt="">
              </div>
              <div class="col">
                <p class="list listing-name"><%= product.name %></p>
                <p class="list listing-price">SGD <%= product.price %></p>
                <p class="list listing-description"><%= product.description %></p>
              </div>
              <div class="col text-end list listing-quantity">
                <p>Stocks on hand:</p>
                <p><%= product.quantity %></p>
              </div>
            </div>
          </a>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>
