<div class="d-flex justify-content-around">

  <%# thumbnail product images on left panel %>
  <div class="thumbnail-product d-flex flex-column">
    <ul  data-controller="imgselect">
     <li data-imgselect-target = "thumbnail" ><%= cl_image_tag @product.photo.key %></li>
      <li data-imgselect-target = "thumbnail" ><%= cl_image_tag @product.photo.key%></li> <%# supposed to be other images when we add more photos %>
       <li data-imgselect-target = "thumbnail" ><%= cl_image_tag @product.photo.key%></li>
      <li data-imgselect-target = "thumbnail" ><%= cl_image_tag @product.photo.key%></li>
     <li data-imgselect-target = "thumbnail" ><%= cl_image_tag @product.photo.key%></li>
    </ul>
  </div>

  <%# Main product image %>
  <div class="main-product">
      <%= cl_image_tag @product.photo.key%>
  </div>

  <%#  in-basket / sale/ price /tax details below %>
  <div class="detail-product">
      <p class="in-basket pdt-text">In 20+ baskets </p>
        <p class="sale pdt-text">Sale ends in 11 minutes</p>
           <h3 class="p-2">SGD<%=@product.price%></h3>
        <h4 class="product-taxes-text">Local taxes included (where applicable)</h4>
      <p class="pdt-text p-2 mb-2"><%=@product.name%> - <%=@product.description%></p>
      <%# reviews text below %>
      <div class="rating-stars-product">
        <span class="pdt-text font-weight-bold d-block p-2">  <%=@product.user.username%>
              <% average_rating = @product.average_rating.to_i %>
                <% 5.times do |i| %>
                  <% if i < average_rating %>
                    <span class="star filled"></span>
                  <% else %>
                    <span class="star"></span>
                  <% end %>
              <% end %>
        </div>
      </span>


    <div class="form-group form-control-sm">
          <%= simple_form_for(@product) do |f| %>
            <%# Select quantity drop down %>
              <%= f.input :quantity, collection: (1..@product.quantity)%>
                <%# Colour picker %>
                  <%= f.input :color, collection: ["Red", "Blue", "Yellow"]%>
              <%# Add to basket button %>
            <%= f.submit 'Add to Basket', class: "w-100 btn btn-dark rounded-5 d-block"%>
          <% end %>
    </div>
  </div>
</div>

<div class="container">
  <%# suggestions section %>

  <p class="mt-5"> Related products </p>
    <div class="d-flex justify-content-between align-column mt-2 mb-5">
      <% @circles.each do |category| %>
          <div class="mx-1 text-center">
            <img class="img-fluid w-1 h-1 img-responsive" src="<%= category[:img_url] %>" alt="<%= category[:name] %>"><br>
          </div>
        <div class="mt-2"><br><%= category[:name] %></div>
      <% end %>
    </div>


  <%# reviews section %>
  <div class="reviews-summary">
    <p class="mt-2"> Reviews for this item </p>
    <%  if @product.reviews.blank?   %>
      <p>Be the first to add a review for this product.</p>
      <% else %>
    <% @product.reviews do |review| %>
          <%= review.review %>
          <%= review.ratings %>
        <% end %>
    <% end %>

  </div>
</div>
