<div class="d-flex justify-content-around">

  <%# thumbnail product images on left panel %>
  <div class="thumbnail-product d-flex flex-column">
     <%= cl_image_tag @product.photo.key%>
     <%= cl_image_tag @product.photo.key%> <%# supposed to be other images when we add more photos %>
     <%= cl_image_tag @product.photo.key%>
     <%= cl_image_tag @product.photo.key%>
     <%= cl_image_tag @product.photo.key%>
  </div>

  <%# Main product image %>
  <div class="main-product">
      <%= cl_image_tag @product.photo.key%>
  </div>

  <%#  in-basket / sale/ price /tax details below %>
  <div class="detail-product">
      <p class="in-basket pdt-text">In 20+ baskets </p>
        <p class="sale pdt-text">Sale ends in 11 minutes</p>
           <h3>SGD<%=@product.price%></h3>
        <h4 class="product-taxes-text">Local taxes included (where applicable)</h4>
      <p class="pdt-text"><%=@product.name%> - <%=@product.description%></p>
      <%# reviews text below %>
     <p class="pdt-text font-weight-bold d-block"> Shop: <%=@product.user.username%> - TODO: add review stars </p>

      <%# Select quantity drop down %>
      <p class="pdt-text">Quantity</p>
        <%= simple_form_for(@product) do |f| %>
          <%= f.select :quantity, Product::QTYALLOWED %>    <%# hardcoded the qty allowed in global constant inside Product model but should only show product available qty! %>
        <% end %>
    <%= link_to "Add to Basket", "#", class: "btn btn-dark rounded-5 d-block" %>
  </div>
</div>



  </div>

</div>
