<div class="d-flex justify-content-between">

  <%# thumbnail product images on left panel %>
  <div class="border border-primary thumbnail-product">
    <p>images thumbnail x 8</p>
     <%= cl_image_tag @product.photo.key%>
  </div>

  <%# Main product image %>
  <div class="border border-secondary main-product">
      <%= cl_image_tag @product.photo.key%>
  </div>

  <%#  in-basket / sale/ price /tax details below %>
  <div class="border border-warning detail-product">
      <p class="in-basket pdt-text">In 20+ baskets </p>
        <p class="sale pdt-text">Sale ends in 11 minutes</p>
           <h3>SGD<%=@product.price%></h3>
        <h4 class="product-taxes-text">Local taxes included (where applicable)</h4>
      <p class="pdt-text"><%=@product.name%> - <%=@product.description%></p>
      <%# reviews text below %>
     <p class="pdt-text"> @product.review stars - pending </p>


  </div>

</div>
